[Unit]
Description=Traefik
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull traefik
ExecStart=/usr/local/bin/docker-compose -f /home/ubuntu/docker-compose.yaml up -d
ExecStop=/usr/bin/docker stop traefik
ExecStopPost=/usr/bin/docker rm -f traefik

[Install]
WantedBy=multi-user.target